
$font-family-sans-serif:      "Trebuchet MS", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;

$body-bg: #e8e8e8;
$body-color: #212529;

$theme-colors: (
    "primary": #62bc8c,
    "success": #62bc8c,
    "secondary": #3e4759,
    "danger": #e20e24,
    "info": #77acd2,
    "warning": #e9d94e,
);

$blue:    #77acd2 !default;
$green:   #62bc8c !default;
$red:     #e20e24 !default;
$darkBlue: #3e4759 !default;

// $indigo:  #6610f2 !default;
// $purple:  #6f42c1 !default;
// $pink:    #e83e8c !default;
// $orange:  #fd7e14 !default;
// $yellow:  #ffc107 !default;
// $teal:    #20c997 !default;
// $cyan:    #17a2b8 !default;