@import 'variables';

@import '~bootstrap/scss/bootstrap';

@import 'elements/transitions';

body { padding: 0px; margin: 0px; }

html,
body,
.root,
main,
#app,
.left-side,
.right-side {
    height: 100%;
}
.root:before {
    content: '';
    height: 100%;
    float: left;
}
.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.flex { display: flex }
.flex-col { flex-direction: column }
.f-1 { flex: 1; }
.f-5 { flex: 0.5; }
.square { border-radius: 0px!important; }
.h-100 { height: 100%!important }
.mh-100 { min-height: 100%; }
.d-inline { display: inline!important; }
.align-items-base { align-items: baseline }
.p-relative { position: relative; }
.items-center { align-items: center; }
.justify-center {  justify-content: center; }

.btn-primary, .btn-info, .btn-success, .btn-secondary {
    color:#fff; 
}
.btn-warning { color: #3e4759 }

a { color: $darkBlue; text-decoration: none; font-weight: 600; }
a:hover { color: $blue; text-decoration: none }
a:active { color: $blue; text-decoration: none }

.dropdown-item:active { background-color: $darkBlue }

#alerts {
    position: -webkit-sticky;
    position: sticky;
    z-index: 9999;
    right: 25px;
    top: 25px;
}
#alerts .alert { 
    position: absolute;
    right: 50px;
    max-width: 500px;
}

@import 'custom';

@import 'admin';

@import 'analytics';