$audioGray: #d9d1d1;

.audio-wrapper { 
    border: 2px solid $darkBlue;
    border-radius: 15px;
    overflow: hidden;
}
.audio-player {
    width: 100%;
    height: 65px;
}
.audio-player .control a { color: #fff; margin-right: 5px; }
.audio-player .control a:hover { color: #d9d1d1; }
.top { 
    height: 50px; 
    display: flex; 
}
.control { 
    flex: 1 1 auto;
    background-color: $darkBlue;
    text-align: center;
    color: #fff;
    font-weight: none;
    padding-top: 12px;
}
.control i { margin-right: 10px; }
.volume { 
    padding: 5px;
    width: 150px; 
    background-color: #fff;  
    border-right: 2px solid $darkBlue;
    color: $darkBlue;
    padding: 15px 10px 0px 5px;
    display: flex;
}
.volume .icon { padding: 0px 5px; }
.upload {
    padding: 5px 5px 5px 5px;
    width: 60px; background-color: #fff;
    text-align: center;
}
.upload .lbl { 
    font-size: 10px;
    color: $darkBlue;
    font-weight: bold;
    line-height: 10px;
}
.audio-player .upload a { color: $blue; font-size: 1.3rem; }
.audio-player .upload a:hover { color: $darkBlue; }

.progress-bar { 
    height: 15px; 
    background-color: $audioGray; 
    border-top: 1px solid #fff; 
}





.slidecontainer {
    flex: 1;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 13px;
    border-radius: 5px;
    background: $audioGray;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    border: 1px solid $blue;
}
.slider::-moz-range-thumb {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    border: 1px solid $blue;
}

