@charset "utf-8";

body { padding: 0px; margin: 0px; }

.right-side {width: 400px; height: 650px;}
.dash-main { max-height: 650px }

/* Jon's overrides */
.btn {
    display: block;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    text-align:center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
}
.btn-primary {
    color:#fff; 
}

.search-input {
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid $blue;
    border-radius: 20px;
    padding: 6px 15px;
}
.search-input .icon {
    color: $blue;
    width:16px;
    margin-right: 5px;
    padding-top: 2px;
}
.search-input input {
    border: 0px;
    flex: 1
}
.search-input input:focus {
    outline: none;
}

input.form-control {
    border: 1px solid #b5b6bc;
    border-radius: 20px;
    padding: 6px 15px;
}
input::-webkit-input-placeholder {
    opacity: 0.5; 
}
input.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 0.5; 
}
input.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    opacity: 0.5; 
}
input.form-control::-ms-input-placeholder { /* Microsoft Edge */
    opacity: 0.5; 
}
.form-control:disabled {
    background-color: $grayDisabled;
    border-color: $grayBorder;
}

.form-text { margin-left: 15px }

h3 {
    display:block; 
    font-weight:bold; 
    margin-bottom:3px; 
    margin-left:14px; 
    font-size:17px; 
    color: $blue;
}

.auth-box { 
    padding: 50px;
    width: 400px;
}

.p-50 { padding: 50px }
.bg-gray { background-color: #e8e8e8 }

.compass-bg {
    background-image: url('../assets/images/compass.png');
    background-color: #e8e8e8;
    background-position-y: 105%;
    background-position-x: 105%;
    background-size: 330px;
    background-repeat: no-repeat;
}
.map-pin-bg {
    background-image: url('../assets/images/map-marker-alt.png');
    background-color: #e8e8e8;
    background-position-y: 105%;
    background-position-x: 90%;
    background-size: 330px;
    background-repeat: no-repeat;
}

a { color: $darkBlue; text-decoration: none; font-weight: 600; }
a:hover { color: $blue; text-decoration: none }
a:active { color: $blue; text-decoration: none }
a.skinny { font-weight: 500px; text-transform: uppercase; font-size: 14px; }

.tour-box {
    padding: 5px;
    width: 285px;
    position: relative;
    margin-bottom: 0.75rem;
    cursor: pointer;
}
.tour-box .heading:hover {
    opacity: 0.80; /* css standard */
    filter: alpha(opacity=80); /* internet explorer */
}
.tour-box img {
    width: 275px;
    height: 185px;
}
.tour-box .heading {
    height: 185px;
    position: relative;
}
.tour-box .footer {
    height: 32px;
    position: relative;
}
.tour-box .title {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 7px;
    padding-left: 10px;
    color: $white;
    font-size: 14px;
}
.tour-box .category {
    position: absolute; 
    bottom: 0px;
    left: 0px; 
    color: $white; 
    font-size: 14px;
    padding: 5px 15px; 
    font-weight: bold;
    vertical-align: bottom;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.tour-box .count {
    position: absolute; 
    bottom: 0px;
    right: 0px; 
    color: $white; 
    font-size: 14px;
    padding: 5px 15px; 
    font-weight: bold;
    vertical-align: bottom;
}


.stop-box {
    padding: 5px;
    width: 210px;
    position: relative;
    margin-bottom: 0.75rem;
    cursor: pointer;
}

.stop-box img {
    width: 200px;
    height: 200px;
}

.stop-box .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
}

.stop-box .title {
    position: absolute;
    top: 90px;
    left: 5px;

    width: 200px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    // line-height: 200px;
    color: $white;
}

.white-circle { 
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 10px;
    margin-left: 10px;
    width:35px; 
    height:35px;
    background-color:#fff; 
    color:#000; 
    font-weight:bold; 
    text-align:center; 
    line-height:35px; 
    border-radius:30px; 
    font-size:17px;
}

.delete {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    background-color: #fff;
    color: $red;
    font-weight: normal;
    text-align: center;
    border-radius: 30px;
    line-height: 26px;
}
.delete:hover {
    background-color: $grayBorder;
}


/* CSS Document */
// body{margin:0px; padding:0px; font-family:"Trebuchet MS"; font-size:14px;}
// a{text-decoration:none;}
// a:hover{text-decoration:none;}
// textarea:focus, input:focus, select:focus{outline: none;}
// .elementbox{position:relative;}
// .topheading_pt{position:absolute; top:7px; left:10px; color:#fff; font-size:14px;}
// .btcategory_pt{position:absolute; bottom:0px; left:0px; color:#fff; font-size:14px; padding:5px 10px; font-weight:bold;}
// .btcategory_pt img{vertical-align:bottom;}
// .blue_bg{background-color:#79acd1;}
// .btcount_pt{position:absolute; bottom:0px; right:0px; color:#fff; font-size:14px; padding:5px 10px; font-weight:bold;}
// .btcount_pt img{vertical-align:bottom;}
// .green_bg{background-color:#6dc497;}
// .col-lg-4{float:left;}
// .mainpix img{width:100%;}
// .drkbox{background-color:#829098; height:100%; min-height:180px;}
// .anlinks{padding:8px 0 15px 10px; font-size:13px;}
// .anlinks img{vertical-align:bottom;}
// .anlinks .demo-icon{font-size:17px;}
// .analytbox{float:left; width:50%; border-right:1px solid #000;}
// .urlbox{float:right; width:50%;text-align:right; padding-right:15px;}
// .addjunket{position:absolute; top:30%; width:95%; text-align:center;}
// .addjunket a{color:#fff; text-decoration:none;}
// .addjunket a:hover{color:#fff; text-decoration:none;}
// .addjunket .demo-icon{font-size:25px; color:#fff; text-align:center;}
// .addjunket{font-size:19px; text-align:center; color:#fff;}
// .clr{clear:both;}
// .rightboxpadd{padding:0px;}
//  .logo {text-align:center;}
// .rightboxpadd .logo img{width:80%; text-align:center;}
// .greenbutton{display:block; width:100%; padding-top:10px; padding-bottom:10px; color:#fff; background-color:#6dc497; border-radius:3px; text-align:center;}
// .greenbutton:hover{background-color:#3f5561; color:#fff; text-decoration:none;}
// .butspacing{margin:45px 0;}
// .inner-addon {position: relative;}
// .inner-addon .fa-search {position: absolute;  pointer-events: none; padding: 10px; left:0px; top:3px; color:#2699fb;}
// input.fbox{display: block; width: 100%; height:41px; padding: 6px 12px 6px 40px; font-size: 14px; line-height: 1.42857143; color: #555; background-color: #fff; background-image: none; border: 1px solid #2f9dbf; border-radius:22px; margin-top:12px;}
// .clr{clear:both;}
// input.fbox::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
//     color:#2699fb;
//     opacity: 1; /* Firefox */
// }

// input.fbox:-ms-input-placeholder { /* Internet Explorer 10-11 */
//     color:#2699fb;
// }

// input.fbox::-ms-input-placeholder { /* Microsoft Edge */
//     color:#2699fb;
// }
// .inactive{text-align:right; font-size:15px; margin-top:12px;}
// .myaccount{margin:50px 0; text-align:center;}
// .myaccount a{background-color:#454f63; display:inline-block; padding:8px 25px; color:#fff; border-radius:7px; text-decoration:none;}
// .myaccount a:hover{background-color:#6dc497; color:#fff; text-decoration:none;}
// .leftsct{float:left; width:48%;}
// .rightsct{float:right; width:48%; text-align:right;}
// .leftsct a, .rightsct a{color:#000000; text-decoration:underline;}
// .leftsct a:hover, .rightsct a:hover{color:#000000; text-decoration:none;}
// .appscreen{max-width:767px; margin:0 auto; width:100%;}
// .screenheader{background-color:#79acd1;color:#fff; font-size:16px; width:100%;}
// .screenheader a{text-align:center; color:#fff; text-decoration:none; padding:20px 0; display:block; font-weight:bold;}
// .screenheader a:hover{color:#fff; text-decoration:none;}
// .rdborder{border-right:1px solid #fff;}
// .featureBox{ width:100%;
// background: #9a7979; /* Old browsers */
// background: -moz-linear-gradient(top, #9a7979 1%, #cfbcbc 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(top, #9a7979 1%,#cfbcbc 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(to bottom, #9a7979 1%,#cfbcbc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a7979', endColorstr='#cfbcbc',GradientType=0 ); /* IE6-9 */}
// .addlink{text-align:center; width:100%; padding:120px 0; font-size:17px;}
// .addlink .fa-plus{font-size:25px;}
// .addlink a{color:#fff; text-decoration:none;}
// .addlink a:hover{color:#fff; text-decoration:none;}
// .clearfix {clear:both;}
// .circbox{margin-top:-65px; z-index:10000;}
// .addrescir{border:1px solid #333; border-radius:50%; background-color:#e8e8e8; text-align:center; width:140px; margin:0 auto; padding-top:42px; height:140px;}
// .addrescir .fa-map-marker{font-size:45px; color:#79acd1;}
// .formbox{padding-top:55px;    max-width: 500px;  margin: 0 auto;}
// .formbox p{margin-bottom:26px;}
// .formbox input.textbox{border:1px solid #454f63; border-radius:30px; height:47px; padding:5px 20px; width:100%;}
// .formbox textarea.textareabox{border:1px solid #454f63; border-radius:30px;  padding:5px 20px; width:100%; height:150px;}
// .formbox select.textbox{border:1px solid #454f63; border-radius:30px; height:47px; padding:5px 20px; width:100%;}
// .formbox p label{display:block; font-weight:bold; margin-bottom:7px; margin-left:14px; font-size:17px;}
// .formbox div label{display:block; font-weight:bold; margin-bottom:16px; margin-left:14px; font-size:17px;}
// .fa-check-square{font-size:21px !important;}
// .cityinput{float:left; width:55%; margin-right:15px;}
// .stateinput{float:left; width:19%;}
// .zipinput{float:right; width:19%;}
// .zipbox{margin-bottom:16px;}
// .rltvpost{position:relative;}
// .blueheading{display:block; font-weight:bold; margin-bottom:3px; margin-left:14px; font-size:17px; color:#79acd1;}
// .playerskin img{width:100%; max-width:348px;}
// .fbcircle{background-color:#3b5998; width:25px; height:25px; color:#fff; position:absolute; left:12px; text-align:center; border-radius:20px; top:11px;} 
// .twtcircle{background-color:#75bbf1; width:25px; height:25px; color:#fff; position:absolute; left:12px; text-align:center; border-radius:20px; top:11px;} 
// .youtubecircle{background-color:#e03d3f; width:25px; height:25px; color:#fff; position:absolute; left:12px; text-align:center; border-radius:20px; top:11px;}  
// .instcircle{width:25px; height:25px; color:#fff; position:absolute; left:12px; text-align:center; border-radius:20px; top:11px;
// background: #dc8e3f; /* Old browsers */
// background: -moz-linear-gradient(top, #dc8e3f 0%, #c32b66 52%, #7c22b7 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(top, #dc8e3f 0%,#c32b66 52%,#7c22b7 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(to bottom, #dc8e3f 0%,#c32b66 52%,#7c22b7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc8e3f', endColorstr='#7c22b7',GradientType=0 ); /* IE6-9 */} 
// .rltvpost input.textbox{padding-left:50px;}
// .qicon{background-color:#e8e8e8; width:25px; height:25px; color:#fff; text-align:center; border-radius:20px; color:#454f63; display:inline-block; margin-left:10px; margin-right:2px;} 
// .addimgbox{float:left; background-color:#eacdcd; text-align:center; padding:50px 0; margin-bottom:25px; margin-right:25px; width:30%;}
// .addimgbox:last-child{margin-right:0px;}
// .addimgbox a{color:#fff; text-decoration:none;}
// .addimgbox a:hover{color:#fff; text-decoration:none;}
// .youtube-play{background-color:#e03d3f; width:45px; height:45px; color:#fff;text-align:center; border-radius:25px; top:11px; display:inline-block; line-height:42px; margin-bottom:10px;} 
// .youtubebox{background-color:#e0d5d5; width:100%; padding:120px 0; text-align:center; color:#fff; font-size:18px; font-weight:600; margin-bottom:18px;} 
// .youtubebox2{background-color:#e0d5d5; width:100%; padding:90px 0; text-align:center; color:#fff; font-size:18px; font-weight:600; margin-bottom:18px;} 
// .savebtn{float:left; width:40%; text-align:center;}
// .addshop{float:right; width:40%; text-align:center;} 
// .addshop a, .savebtn a{text-align:center;background-color:#6dc497; padding:10px 35px; color:#fff; border-radius:6px; display:inline-block; width:180px;}
// .addshop a:hover, .savebtn a:hover{text-align:center;background-color:#79acd1;  color:#fff; display:inline-block;  text-decoration:none;}
// .addshop a .fa-check{margin-right:10px;}
// .btmmargin{margin-bottom:15px;}
// .trophy{margin-bottom:25px;}
// .trophy img{float:left; width:100px; margin-right:70px;}
// .trophyupload{float:left; width:250px; padding:30px 0; text-align:center; color:#fff; background-color:#6dc497; border-radius:5px;}
// .trophyupload:hover{color:#fff; text-decoration:none; background-color:#79acd1;}
// .radiuscircle{background-color:#e8e8e8; width:25px; height:25px; color:#fff; position:absolute; right:12px; text-align:center; border-radius:20px; top:43px; color:#454f63 !important} 
// .rltvpost input.textbox1{padding-right:50px; padding-left:20px !important;}
// .txtlabel{float:left; width:100px; padding-top:10psx;}
// .textinputbox{float:left; width:80%; }
// .textinputbox input{background-color:#f5f5f5;}
// .maparea{position:relative; max-width:897px; margin:0 auto;}
// .maparea img{width:100%;}
// .mapbuttons{position:absolute; bottom:20px; left:30px;}
// .mapbuttons a{background-color:#454f63; width:200px; height:40px; padding-left:30px; margin-right:13px; line-height:40px; color:#fff; border-radius:8px; display:inline-block; font-size:14px;}
// .mapbuttons a:hover{color:#fff; text-decoration:none;}
// .mapbuttons .fa{margin-right:20px;}
// .fbox{float:left; width:23%; margin-right:2%; position:relative;}
// .fbox:last-child{margin-right:0%;}
// .fbox img{width:100%;}
// .fboxdata{position:absolute; top:10px; left:10px; width:91%;}
// .mainhd{font-size:20px; text-align:center; line-height:25px; color:#fff; padding:40px 10px 0 10px;}
// .crossicon{position:absolute; bottom:6px; right:7px; width:25px; height:25px; background-color:#fff; color:#e50909; font-weight:normal; text-align:center; line-height:22px; border-radius:30px; font-size:20px;}
// .addbox{background-color:#88959c; color:#fff; text-align:center; padding:80px 0;}
// .addbox .fa-plus{font-size:35px;}
// .addbox a{color:#fff; text-decoration:none;}
// .addbox a:hover{color:#fff; text-decoration:none;}
// .mapbox-1{float:left; max-width:250px; width:100%; border:1px solid #454f63; border-radius:15px 0px 0px 15px; text-align:center; height:47px; margin-bottom:24px; line-height:43px; color:#000; text-decoration:none;}
// .mapbox-1:hover{text-decoration:none;}
// .staddress{float:left; max-width:177px; width:100%; border:1px solid #454f63; border-left:none; text-align:center; height:47px; margin-bottom:24px; line-height:43px; color:#000; text-decoration:none;}
// .staddress:hover{text-decoration:none;}
// .gpsbutton{float:left; width:70px; border:1px solid #454f63; background-color:#454f63; border-radius:0px 15px 15px 0px; text-align:center; height:47px; margin-bottom:24px; line-height:43px; color:#fff; text-decoration:none;}
// .gpsbutton:hover{text-decoration:none; color:#fff;}
// .fillbutton{float:left;  width:50%; border:1px solid #454f63; border-radius:15px 0px 0px 15px;text-align:center; height:47px; margin-bottom:24px; line-height:43px; text-decoration:none; color:#000;}
// .fillbutton:hover, .fillbuttonx:active {float:left;  width:50%; border:1px solid #454f63; border-left:none; text-align:center; height:47px; margin-bottom:24px; line-height:43px;background-color:#454f63; text-decoration:none; color:#fff;}
// .choicebutton{float:left;  width:50%; border:1px solid #454f63; border-left:none;border-radius:0px 15px 15px 0px; text-align:center; height:47px; margin-bottom:24px; line-height:43px;background-color:#454f63; color:#fff;}
// .choicebutton:hover, .choicebutton:active {float:left;  width:50%; border:1px solid #454f63; border-left:none; text-align:center; height:47px; margin-bottom:24px; line-height:43px;background-color:#454f63; text-decoration:none; color:#fff;}
// .lftmrg14{margin-left:14px; display:block;}
// .rltvpost input.textbox2{padding-left:60px; padding-right:60px;}
// .txticon{position:absolute; left:26px; top:9px; color:#79acd1; font-weight:bold; font-size:18px}
// .pencil-icon{position:absolute; right:26px; top:6px; color:#000; font-size:20px !important;}
// .delete-icon{position:absolute; right:26px; top:6px; color:#ff0000; font-size:20px !important;}
// .btmspc{margin-bottom:17px;}
// .divider{width:190px; margin:28px auto; border-top:2px solid #ccc;}
// .startpoint{float:left;  width:47%; border:1px solid #454f63; border-radius:15px; text-align:center; height:47px; line-height:43px; color:#454f63;}
// .startpoint .fa-map-marker{margin-right:35px;}
// .startpoint:hover, .startpoint:active {text-decoration:none; color:#454f63;}

// .endpoint{float:right;  width:47%; border:1px solid #454f63; border-radius:15px; text-align:center; height:47px; line-height:43px; color:#454f63;}
// .endpoint:hover, .endpoint:active { text-decoration:none; color:#454f63;}
// .startpoint .fa{margin-right:25px;}
// .endpoint .fa{margin-right:25px;}
// .fullgreenbtn{display:block; background-color:#6dc497; border-radius:8px; margin-bottom:30px; margin-top:25px; color:#fff; text-align:center; height:40px; line-height:40px; font-size:19px !important;}
// .fullgreenbtn .fa{margin-right:45px;}
// .fullgreenbtn:hover{color:#fff; text-decoration:none;}
// @media (max-width: 768px) {
// .rightboxpadd{padding-top:35px;}
// .adminlinks{padding-bottom:10px;}
// .addimgbox{float:none; width:100%; margin-right:0px;}
// .rdborder{border-right:none;}
// .txtlabel{float:none; width:100%;;}
// .textinputbox{float:none; width:100%;}
// .fbox{float:none; width:100%; margin-right:0%; position:relative;}
// .savebtn {float: left; width: 49%;  text-align: center;}
// .addshop{float: left; width: 50%;  text-align: center;}
// .addshop a, .savebtn a {padding:8px 6px; width: 86%;}
// .endpoint {float: right;    width: 48%;}
// .startpoint {float: left; width: 49%;}
// .startpoint .fa {margin-right: 11px;}
// .endpoint .fa {margin-right:11px;}
// .container{padding-left:7px; padding-right:7px;}
// .cityinput, .stateinput, .zipinput{float:none; width:100%; margin-bottom:15px;}
// .mapbox-1 {max-width: 168px;}
// .staddress {max-width: 122px;}
// .gpsbutton {width: 55px;}
// .trophyupload {width: 212px;}
// .trophy img{margin-right:27px;}
// .mapbuttons a{margin-bottom:5px;}
// .mapbuttons {bottom: 0px; left: 2px;}
// }
